<div class="main-header">
    <a href= "/" class ="logout_btn">Logout</a>
</div>

<div class="aside">

    <div class="menu">
        <img class="logo" src="/img/logo.png" alt="">

        <ul>
            <a href="/">Home</a>
            <a href="/agenda">Agenda</a>
            <a href="/pacientes">Pacientes</a>
            <a href="/novoPaciente">Novo Paciente</a>
            <a href="">Dados</a>
        </ul>
    </div>

</div>