<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="date.css">
    <link rel="" href="script.js">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=roboto' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Tela de agendamento</title>
</head>

<header>
    <div class="right_area">
        <a href="/" class="logout_btn">Logout</a>
    </div>
</header>

<body>

    <div class="container">
        <div class="wrapper">
            <div class="sidebar">
                <h2>Sidebar</h2>
                <ul>
                    <li><a href="#"><img src="/img/calendar 1.png">
                            <div class="agenda" style="color: #75ddba;"> Agenda </div>
                        </a></li>
                    <li><a href="\pacientes"><img src="/img/patient 1.png">
                            <div class="pacientes"> Pacientes </div>
                        </a></li>
                    <li><a href="\novoPaciente"><img src="/img/medical 1.png">
                            <div class="novo_paciente"> + Paciente </div>
                        </a></li>
                    <li><a href="#"><img src="/img/Group.png">
                            <div class="dados"> Dados </div>
                        </a></li>
                </ul>

            </div>
            <div class="line">
                <img src="/img/Line 1.png">
            </div>
            <div class="main_content">
                <div class="header"></div>
                <div class="logo">
                    <img src="/img/logo.png">
                </div>
                <div class="imagem_medico">

                </div>

            </div>
        </div>

        <div class="content">
            <h1>Agendamento online</h1>
            <div class="buttons">
                <button type="submit"
                    style="border-color:black;background-color: #75ddba; color: black; width:94px; height:37px;  border-radius: 30px;"><b>Gravar</b></button>
                <button type="submit"
                    style="border-color:black;background-color: #75ddba; color: black; width:94px; height:37px;  border-radius: 30px;"><b>Novo</b></button>
                <button type="submit"
                    style="border-color:black;background-color: #75ddba; color: black; width:94px; height:38px;  border-radius: 30px;"><b>Remarcar</b></button>
                <button type="submit"
                    style="border-color:black;background-color: #75ddba; color: black; width:94px; height:38px;  border-radius: 30px;"><b>Desmarcar</b></button>
            </div>

        </div>


        <div class="tables">
            <table border="1px" cellpadding="5px" cellspacing="0" ID="alter">
                <tr class="top">
                    <td width="55" height="40" align="center">Hora </td>
                    <td align="center">Descrição</td>
                    <td align="center">Tipo</td>
                    <td align="center">Status</td>
                    <td align="center">Valor</td>
                </tr>
                <tr class="dif">
                    <td align="center"> 8:30 </td>
                    <td align="center" height="35">João Pedro Teixeira</td>
                    <td align="center">Cassi</td>
                    <td align="center">Atendido</td>
                    <td align="center"></td>
                </tr>
                <tr>
                    <td align="center">9:10 </td>
                    <td align="center" height="35"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                </tr>
                <tr class="dif">
                    <td align="center">9:50 </td>
                    <td align="center" height="35"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                </tr>
                <tr>
                    <td align="center">10:30 </td>
                    <td align="center" height="35">Maria do Carmo</td>
                    <td align="center">Part</td>
                    <td align="center">Aguardando</td>
                    <td align="center">400,00</td>
                </tr>
                <tr class="dif">
                    <td align="center">11:10 </td>
                    <td align="center" height="35"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                </tr>
                <tr>
                    <td align="center">11:50 </td>
                    <td align="center" height="35">- Almoço -</td>
                    <td align="center"> - </td>
                    <td align="center"> - </td>
                    <td align="center"> - </td>
                </tr>
                <tr class="dif">
                    <td align="center">13:30 </td>
                    <td align="center" height="35">Lucas da Silva Pedrosa Pereira</td>
                    <td align="center"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                </tr>
                <tr>
                    <td align="center">14:10 </td>
                    <td align="center" height="35"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                </tr>
                <tr class="dif">
                    <td align="center">14:50 </td>
                    <td align="center" height="35"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                </tr>
                <tr>
                    <td align="center">15:30 </td>
                    <td align="center" height="35"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                </tr>
                <tr class="dif">
                    <td align="center">16:10 </td>
                    <td align="center" height="35"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                    <td align="center"></td>
                </tr>
            </table>
        </div>


        <div class="date-picker">
            <div class="selected-date"></div>

            <div class="dates">
                <div class="month">
                    <div class="arrows prev-mth">&lt;</div>
                    <div class="mth"></div>
                    <div class="arrows next-mth">&gt;</div>
                </div>

                <div class="days"></div>
            </div>
        </div>

        <div class="text-box">
            <div class="hora">
                <h4>Hora</h4>
                <input type="text" name="Hora" size="8" />
            </div>
            <div class="tipo">
                <h4>Tipo de Compromisso</h4>
                <input type="text" name="Tipo" size="23" />
            </div>
            <div class="nome">
                <h4>Nome do Paciente</h4>
                <input type="text" name="Nome" size="30" />
                <button type="submit">&#128269;</button>
            </div>
            <div class="convenio">
                <h4>Convênio</h4>
                <select id="inputConvenio" class="form-control " name="convenio">
                    <option selected></option>
                    <option> Cassi</option>
                    <option> Particular</option>
                    <option> Part desc.</option>
                </select>
            </div>
            <div class="valor">
                <h4>Valor</h4>
                <input type="text" name="Valor" size="9" />
            </div>
            <div class="status">
                <h4>Status</h4>
                <select id="inputStatus" class="form-control " name="statud">
                    <option selected></option>
                    <option>Atendido</option>
                    <option>Aguardando</option>
                    <option>Nao Compareceu</option>
                </select>
            </div>
            <div class="chegada">
                <h4>Chegada</h4>
                <input type="text" name="Chegada" size="12" />
            </div>
            <div class="atendido">
                <h4>Atendido</h4>
                <input type="text" name="Atendido" size="12" />
            </div>
            <div class="notas">
                <h4>Notas</h4>
                <textarea name="notas" cols="50" rows="6"></textarea>
            </div>

        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>
