<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side Navigation Bar</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/pagcadastro.css">
    <link href='https://fonts.googleapis.com/css?family=roboto' rel='stylesheet' type='text/css'>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>

    <div class="engloba">

        <%- include ('partials/menuLateral.ejs'); %>

        <div class="content">

            <div class="info">
                <div>Seja bem-vindo <%= usuario.nome %></div>
            </div>

            <div class="conteudo container">
                <div class="imagem_medico"> 
                    <img src="/img/undraw_doctors_hwty 1.png">
                  </div>
            </div>

        </div>
    </div>

</body>
</html>
