<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de login</title>
    <link rel="stylesheet" href="login.css">
</head>


<body>
    <form class="form" action="#colocar pag de referencia">
        <div class="card">
            <div class="card-top">
                <img class="imglogin" src="img/logo.jpg" alt="">
            </div>

            <div class="card-group">
                <label>Email</label>
                <input type="text" name="email" required>
            </div>
            
            <div class="card-group">
                <label>Senha</label>
                <input type="password" name="senha" required>
            </div>

            <div class="card-group-f">
                <label>
                <a class="login-reset" href="recuperarSenha.html">Esqueceu a senha?</a></label>
                
            </div>

           <div class="card-group-f">
                <button class="btn" type="submit" >Login</button>
           </div>

        </div>
        
    </form>
</body>
</html>
